{{ if .Site.Data.homepage.introduction.enable }}
<section class="section rad-animation-group pb-0" id="introduction">
  <div class="container rad-fade-down">
    <div class="row d-flex flex-column-reverse flex-md-row">
      <div class="about__profile-picture col-12 col-md-6">
        <img
          class="lozad img-responsive image-left-overflow"
          src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs="
          data-src="{{ .Site.Data.homepage.introduction.image.x | absURL }}"
          data-srcset="{{ .Site.Data.homepage.introduction.image.x | absURL }} 1x, {{ .Site.Data.homepage.introduction.image._2x | absURL }} 2x"
          alt="{{ .Site.Data.homepage.introduction.image.alt }}"
        />
      </div>
      
      <div class="col-12 col-md-6 my-auto my-auto">
        <h2>{{ .Site.Data.homepage.introduction.title }}</h2>
        <p class="lead">
          {{ .Site.Data.homepage.introduction.content | safeHTML }}
        </p>

      </div>
    </div>
  </div>
    
  <div class="row platform-links">
      <div class="col-12">
        {{ range .Site.Data.homepage.showcase.socialLinks }}
        <a href="{{ .URL | absURL }}" target="_blank"
          ><i class="icon-{{ .icon }}-line"></i
        ></a>
        {{ end }}
      </div>
  <div class="rad-introduction__bg rad-introduction__bg--mobile">
    <img
      class="lozad img-responsive"
      src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs="
      data-src="{{ .Site.Data.homepage.introduction.imageMobile.x | absURL }}"
      alt="{{ .Site.Data.homepage.introduction.imageMobile.alt }}"
    />
  </div>
</section>
{{ end }}
