{{ if .Site.Data.homepage.poster.enable }}
<section class="rad-poster rad-poster--index rad-animation-group rad-fade-down" id="poster">
  
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-18 col-lg-18 col-xl-15">
        <h1 class="display-1">
          {{ .Site.Data.homepage.poster.title }}
          <br />
          <span
            >{{ .Site.Data.homepage.poster.subtitle }}</span
          >
        </h1>
        <p class="lead">
          {{ .Site.Data.homepage.poster.content | safeHTML }}
        </p>
        <div class="rad-poster__bg">
    <img
      class="lozad img-responsive"
      src="img/images/poster_small.png"
      data-src="{{ .Site.Data.homepage.poster.image.x | absURL }}"
      data-srcset="{{ .Site.Data.homepage.poster.image.x | absURL }} 1x, {{ .Site.Data.homepage.poster.image._2x | absURL }} 2x"
      alt="{{ .Site.Data.homepage.poster.image.alt }}"
    />
  </div>
      </div>
    </div>
    <div class="row platform-links">
      <div class="col-12">
        {{ range .Site.Data.homepage.poster.socialLinks }}
        <a href="{{ .URL | absURL }}" target="_blank"
          ><i class="icon-{{ .icon }}-line"></i
        ></a>
        {{ end }}
      </div>
    </div>
  </div>
  <div class="rad-poster__bg rad-poster__bg--mobile">
    <img
      class="lozad img-responsive"
      src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs="
      data-src="{{ .Site.Data.homepage.poster.imageMobile.x | absURL }}"
      alt="{{ .Site.Data.homepage.poster.imageMobile.alt }}"
    />
  </div>
</section>
{{ end }}
